<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<link rel="stylesheet" href="{% static 'community.css' %}">

  <!-- Navigation Bar -->
  <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid topnav"> -->

      <!-- Collapsible hamburger menu & brand on left -->
      <!-- <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Raphaël Mazet</a>
      </div> -->

      <!-- Collapsible nav links -->
      <!-- <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- Home Page -->
  <a name="home"></a>
  <div class="home-background">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 home-message">
          <h1>La Flame Community</h1>
          <h3>ASTROWORLD-Create your own playlist</h3>

          <hr class="home-divider">

          <!-- <div class="home-social-buttons">
            <ul class="list-inline">
              <li><a class="btn btn-default" href="https://twitter.com/caipixote" target='_blank'><i class="fa fa-twitter fa-fw"></i>Twitter</a></li>
              <li><a class="btn btn-default" href="https://www.linkedin.com/in/raphaël-mazet-5b76721" target='_blank'><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a></li>
              <li><a class="btn btn-default" href="https://github.com/Mamacom" target='_blank'><i class="fa fa-github fa-fw"></i>Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- About Page -->
  <!-- <a name="about"></a>
  <div class="about-background">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-12 content-message">
          <h1>About Mamacom Labs</h1>
          <h4>Entrepreneur and specialist in government relations, CSR & digital communications.</h4>
          <h4>Founder of CliqStart, an advocacy app where people who care take action to fix social and political issues.</h4>
          <h4>Fluent in English, French, Spanish and Portuguese.</h4>
        </div>
        <div class="col-xs-4 col-xs-offset-1 hidden-xs about-message">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXtAAAAJGViZjExYmQxLTRkNmItNDhiNC04NDc5LWUwYmQ0ZjkzNzJkZg.jpg" class="img-circle img-responsive">
        </div>
      </div>
    </div>
  </div> -->

  <!-- Portfolio Page -->
  <!-- <a name="portfolio"></a>
  <div class="portfolio-background">
    <div class="content-message text-align">
      <h1>Our work</h1>
      <h4>Check out our recent projects</h4>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-md-4">
          <div class="project-box">
            <div class="project-content">
              <div class="project-image">
                <h4>Placeholder img 1</h4>
              </div>
              <div class="project-title content-message">
                Project title 1
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="project-box">
            <div class="project-content">
              <div class="project-image">
                <h4>Placeholder img 2</h4>
              </div>
              <div class="project-title content-message">
                Project title 2
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="project-box">
            <div class="project-content">
              <div class="project-image">
                <h4>Placeholder img 3</h4>
              </div>
              <div class="project-title content-message">
                Project title 3
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="project-box">
            <div class="project-content">
              <div class="project-image">
                <h4>Placeholder img 4</h4>
              </div>
              <div class="project-title content-message">
                Project title 4
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="project-box">
            <div class="project-content">
              <div class="project-image">
                <h4>Placeholder img 5</h4>
              </div>
              <div class="project-title content-message">
                Project title 5
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="project-box">
            <div class="project-content">
              <div class="project-image">
                <h4>Placeholder img 6</h4>
              </div>
              <div class="project-title content-message">
                Project title 6
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer> -->
    <div class="container-fluid">
      <p>IG:__la___flame</p>
      <p>Contact: <a href="deveshdwivedi83@gmail.com">deveshdwivedi83@gmail.com</a><p>
      <p class="small">Copyright © StudioDD 2020. All Rights Reserved</p>
    </div>
  </footer>

  </body>
</html>
